{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>Participant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participant.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ participant.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ participant.firstname }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ participant.phone }}</td>
            </tr>
            <tr>
                <th>Organiser</th>
                <td>{{ participant.organiser ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ participant.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>


<div class="input-group mb-3">
    <div class="input-group-prepend" id="bouton2-texte">
        <a href="{{ path('app_participant_index') }}">
            <button class="btn btn-outline-success" type="button">Retour à la liste</button></a>
        <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">
            <button class="btn btn-outline-warning" type="button">Modifier</button>
        </a>
    </div>
    {{ include('participant/_delete_form.html.twig') }}
</div>

{% endblock %}
