{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}

    {% set userFirstname = app.user.participant.firstname %}

    <div class="row mt-5">
        <div class="col-md-3">
           <img src="{{ asset('uploads/photo-profil.png') }}" alt="photo-profil" width="70%">
        </div>
        <div class="col-md-9">
            <h1>{{ userFirstname }}</h1>
{#            <h1>{{ participant.organizer.firstname }}</h1>#}
            <table class="table">
                <tbody>

                <tr>
                    <th>Nom</th>
                    <td>{{ participant.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ participant.firstname }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ participant.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ participant.user.email }}</td>
                </tr>
                <tr>
                    <th>Site de ratachement</th>
                    <td>{{ participant.getSite().siteName }}</td>
                </tr>

                </tbody>
            </table>
        <div class="input-group mb-3">
            <div class="input-group-prepend" id="bouton2-texte">
                <a href="{{ path('app_participant_index') }}">
                    <button class="btn btn-outline-success" type="button">Retour à la liste</button></a>
                {#        <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">#}
                {#            <button class="btn btn-outline-warning" type="button">Modifier</button>#}
                {#        </a>#}
            </div>
            {#    {{ include('participant/_delete_form.html.twig') }}#}
        </div>
        </div>

    <h1>{{ user.username }}</h1>

    <div class="d-block fs-5 text-center m-4">

        <div class="mb-4">

            <div class="m-4 align-items-start">
                <label class="mb-2">Prénom :</label>
                <label class="fw-medium">{{ participant.firstname }}</label>
            </div>

            <div class="mb-4 align-items-start">
                <label class="mb-2">Nom :</label>
                <label class="fw-medium">{{ participant.lastname }}</label>
            </div>

            <div class="mb-4 align-items-start">
                <label class="mb-2">Téléphone :</label>
                <label class="fw-medium">{{ participant.phone }}</label>
            </div>

            <div class="mb-4 align-items-start">
                <label class="mb-2">Email :</label>
                <label class="fw-medium">{{ user.email }}</label>
            </div>

            <div class="mb-4 pe-4 align-items-start ">
                <label class="mb-2">Site de rattachement :</label>
                <label class="fw-medium">{{ site.siteName }}</label>
            </div>
        </div>

        <a class="btn btn-secondary" href="{{ path('app_activity_index') }}">Retour</a>

    </div>
    </div>
{% endblock %}
