{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <div>

        <h1>Annuler une sortie</h1>

    <form action="" method="post">

        <div class="d-flex justify-content-center">

                <div class="justify-content-center m-2 col-3">

                    <div class="show-left">
                        <label>Nom de la sortie :&nbsp;</label>
                        <p>{{ activity.name }}</p>
                    </div>

                    <div class="show-left">
                        <label>Date de la sortie :&nbsp;</label>
                        <p> {{ activity.startDate ? activity.startDate|date('d/m/Y') : '' }}</p>
                    </div>

                    <div class="show-left">
                        <label>Site organisateur :&nbsp;</label>
                        <p>{{ activity.site.siteName }}</p>
                    </div>

                    <div class="show-left">
                        <label>Lieu :&nbsp;</label>
                        <p>{{ activity.place.placeName }}
                            {{ activity.place.placeStreet }}
                            {{ activity.place.city.zipcode }}
                            {{ activity.place.city.cityName }}
                        </p>
                    </div>

                    <div class="show-left">
                        <label for="motif">Motif :&nbsp;</label>
                        <textarea cols="35"
                                  rows="5"
                                  name="motif"
                                  id="motif"
                                  maxlength="500"
                                  autofocus
                        >Motif de l'annulation de l'activité</textarea>
                    </div>


                </div>
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-primary" name="save" type="submit">Enregistrer</button>
            <a class="btn btn-secondary" href="{{ path('app_activity_index') }}">Annuler</a>
        </div>

    </form>
{% endblock %}