{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}

    {% set currentUser = app.user %}
    {% set userUsername = currentUser.username%}
    {% set userFirstname = currentUser.participant.firstname %}
    {% set userName = currentUser.participant.lastname|first|capitalize  %}


    <div class="accueil">
        <div class="accueil-left">

            <h1>Liste des sorties</h1>
        </div>
        <div class="accueil-right">
            <h6>Nous sommes le {{ "now"|format_datetime('full', 'none', locale='fr') }}</h6>
            <h6>Participant : {{ userFirstname }} {{ userName }}.</h6>
        </div>
    </div>

    <div class="filters">
        <h6>Filtrer les sorties</h6>
        <div class="filters_container">
            <div class="col-3 mx-5">
                {{ form_start(form) }}
                {{ form_row(form.site) }}
                {{ form_row(form.name) }}
                <div class="calendar">
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                </div>
            </div>
            <div class="col-3 mt-4 mx-5">
                {{ form_row(form.isOrganizer) }}
                {{ form_row(form.isParticipant) }}
                {{ form_row(form.isNotParticipant) }}
                {{ form_row(form.isPast) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead class=" thead-dark">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

        {% for activity in activities %}

{#            {% if not activity.status.statusLabel is same as ("Créée")#}
{#                or  activity.organizer.id == currentUser.participant.id %}#}

                <tr>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.startDate ? activity.startDate|format_datetime('short', 'short', locale='fr') }}</td>
                    <td>{{ activity.endDate ? activity.endDate|format_datetime('short', 'none', locale='fr')}}</td>
                    <td>{{ activity.participants|length }} / {{ activity.maxInscriptions }}</td>
                    <td>{{ activity.status.statusLabel}}</td>
                    <td>

                        {% if activity.participants|filter(participant => participant.user.username == userUsername)|length > 0 %}
                            <p class="text-center">✔️</p>
                        {% endif %}
                    </td>

                    <td>

{#                        {% if activity.organizer.id != currentUser.participant.id %}#}

{#                            <a href="{{ path('app_participant_show',{'id': activity.organizer.id}) }}" >{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</a>#}

{#                        {% else %}#}

{#                            <a href="{{ path('app_participant_edit',{'id': currentUser.participant.id}) }}" >{{ activity.organizer.firstname }} {{ activity.organizer.lastname }}</a>#}

{#                        {% endif %}#}
{#                    </td>#}

{#                    <td>#}

{#                        {% if activity.status.statusLabel is same as ("Créée") %}#}
{#                            <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>#}

{#                            <p>Publier</p>#}

{#                        {% else %}#}
{#                            <a href="{{ path('app_activity_show', {'id': activity.id}) }}">Afficher</a>#}

{#                            {% if activity.status.statusLabel is same as ("Ouverte")  %}#}

{#                                {% if activity.organizer.id != currentUser.participant.id  %}#}

{#                                    {% if activity.participants|filter(participant => participant.user.username ==userUsername)|length > 0 %}#}

{#                                        <form action="{{ path('app_activity_unsubscribe', {'id': activity.id}) }}" method="post">#}
{#                                            <button type="submit">Se désister</button>#}
{#                                        </form>#}

{#                                    {% else %}#}

{#                                        <form action="{{ path('app_activity_show', {'id': activity.id}) }}" method="post">#}
{#                                            <button type="submit">S'inscrire</button>#}
{#                                        </form>#}

{#                                    {% endif %}#}

{#                                {% else %}#}

{#                                    <a href="{{ path('app_activity_cancel',{'id': activity.id}) }}">Annuler</a>#}

{#                                {% endif %}#}

{#                            {% elseif  activity.status.statusLabel is same as ("Créée") %}#}
{#                                #}{# A ajouter dans la balise de Modifier pour activer le lien href="{{ path('app_activity_edit', {'id': activity.id}) }}" #}
{#                                <a>Modifier</a>#}

{#                                <p>Publier</p>#}


{#                            {% endif %}#}

{#                        {% endif %}#}
                    </td>
                </tr>

{#            {% else %}#}
{#                <tr>#}
{#                    <td colspan="10">Pas d'activité trouvée</td>#}
{#                </tr>#}

{#                {% endif %}#}

        {% endfor %}

        </tbody>

    </table>



    <div class="div_button">
        <button type="button" class="btn btn-primary"><a class="link_button" href="{{ path('app_activity_new') }}">Créer une sortie</a></button>
    </div>

{% endblock %}
