{% extends 'base.html.twig' %}
{% block javascripts %}

{% endblock %}
{% block title %}New Activity{% endblock %}

{% block body %}
    <h1>Create new Activity</h1>
    {% set tableau_json = [] %}

    {% for place in places %}
        {% set placeData = {
            'id': place.id,
            'placeId': place.placeId,
            'placeName': place.placeName,
            'placeStreet': place.placeStreet,
            'latitude': place.latitude,
            'longitude': place.longitude
        } %}
        {% set tableau_json = tableau_json|merge([placeData]) %}
    {% endfor %}
    <script>
        var tableau_js = JSON.parse('{{ tableau_json|json_encode()|e('js') }}');

        var selectLieu = document.getElementById('place-select');
        var inputRue = document.getElementById('rue_input');

        selectLieu.addEventListener('change', function() {
            var selectedId = parseInt(selectLieu.value);

            var selectedPlace = tableau_js.find(function(place) {
                return place.id === selectedId;
            });

            if (selectedPlace) {
                inputRue.value = selectedPlace.placeStreet;
            } else {
                inputRue.value = '';
            }
        });

        console.log(tableau_js);
    </script>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.site) }}
{#    {{ form_row(form.place, {'attr': {'id': 'place-select'}}) }}#}
    <label for="place-select">Lieu</label>
    <select id="place-select">
        <option value="">Sélectionnez un lieu</option>
        {% for place in places %}
            <option value="{{ place.id }}">{{ place.placeName }}</option>
        {% endfor %}
    </select>

    <label for="rue">Rue :</label>
    <input type="text" id="rue" name="rue" value="" class="rue_input">

    <label for="latitude">Latitude :</label>
    <input type="text" id="latitude" name="latitude" value="">

    <label for="longitude">Longitude :</label>
    <input type="text" id="longitude" name="longitude" value="">


    {{ form_end(form) }}

    <a href="{{ path('app_activity_index') }}">Retour aux activités</a>
{% endblock %}
