{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
<div>
    <h1>Afficher une sortie</h1>
    <div class="d-flex justify-content-center">
        <div class="justify-content-center m-2 col-3">

            <div class="show-left">
                <label>Nom de la sortie :&nbsp;</label>
                <p>{{ activity.name }}</p>
            </div>

            <div class="show-left">
                <label>Date et heure de la sortie :&nbsp;</label>
                <p> {{ activity.startDate ? activity.startDate|date('Y-m-d') : '' }} à {{ activity.startDate ? activity.startDate|date('H:i') : '' }}</p>
            </div>

            <div class="show-left">
                <label>Date limite d'inscription :&nbsp;</label>
                <p>{{ activity.endDate ? activity.endDate|date('Y-m-d') : '' }}</p>
            </div>

            <div class="show-left">
                <label>Nombre de places :&nbsp;</label>
                <p>{{ activity.maxInscriptions }}</p>
            </div>

            <div class="show-left">
                <label >Durée :&nbsp;</label>
                <p>{{ activity.duration }} minutes</p>
            </div>

            <div class="show">
                <label>Description et infos :&nbsp;</label>
                <p>{{ activity.description }}</p>
            </div>
        </div>

        <div class="justify-content-center m-2 col-2">

            <div class="show-right">
                <label>Lieu :&nbsp;</label>
                <p>{{ activity.place.placeName }}</p>
            </div>

            <div class="show-right">
                <label>Rue :&nbsp;</label>
                <p>{{ activity.place.placeStreet }}</p>
            </div>

            <div class="show-right">
                <label>Ville :&nbsp;</label>
                <p>{{ activity.place.city.cityName }}</p>
            </div>

            <div class="show-right">
                <label>Code postal :&nbsp;</label>
                <p>{{ activity.place.city.zipcode }}</p>
            </div>

            <div class="show-right">
                <label>Latitude :&nbsp;</label>
                <p>{{ activity.place.latitude }}</p>
            </div>

            <div class="show-right">
                <label>Longitude :&nbsp;</label>
                <p>{{ activity.place.longitude }}</p>
            </div>

        </div>

    </div>


{#        <table class="table">#}
{#            <tbody>#}
{#            <tr>#}
{#                <th>Nom de la sortie</th>#}
{#                <td>{{ activity.name }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Date et heure de la sortie</th>#}
{#                <td>{{ activity.startDate ? activity.startDate|date('Y-m-d H:i') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Date limite d'inscription</th>#}
{#                <td>{{ activity.endDate ? activity.endDate|date('Y-m-d H:i') : '' }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Nombres de places</th>#}
{#                <td>{{ activity.maxInscriptions }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Durée</th>#}
{#                <td>{{ activity.duration }} minutes</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Description et infos</th>#}
{#                <td>{{ activity.description }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Lieu</th>#}
{#                <td>{{ activity.place.placeName }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Rue</th>#}
{#                <td>{{ activity.place.placeStreet }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Ville</th>#}
{#                <td>{{ activity.place.city.cityName }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Code Postal</th>#}
{#                <td>{{ activity.place.city.zipcode }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Latitude</th>#}
{#                <td>{{ activity.place.latitude }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>Longitude</th>#}
{#                <td>{{ activity.place.longitude }}</td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
    <div class="d-flex justify-content-center">
        <div class="col-4 justify-content-center">
            <h2>Liste des participants inscrits :</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in activity.participants %}
                    <tr>
                        <td>{{ participant.user.username }}</td>
                        <td>{{ participant.firstname }}  {{ participant.firstname|upper }}</td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




{#    <a href="{{ path('app_activity_index') }}">back to list</a>#}

{#    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>#}

{#    {{ include('activity/_delete_form.html.twig') }}#}
{% endblock %}
