{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}

    <div>

        <div>
            <h1>Afficher une sortie</h1>
        </div>

        <div class="d-flex justify-content-center fs-5 text-center">

            <div class="row row-cols m-2">

                <div class="m-2 p-2">
                    <label class="me-3">Nom de la sortie :</label>
                    <label class="fw-medium">{{ activity.name }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Date et heure de la sortie :</label>
                    <label class="fw-medium">{{ activity.startDate ? activity.startDate|date('Y-m-d H:i') : '' }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Date limite d'inscription :</label>
                    <label class="fw-medium">{{ activity.endDate ? activity.endDate|date('Y-m-d H:i') : '' }}</label>
                </div>


                <div class="m-2 p-2">
                    <label class="me-3">Nombre de places :</label>
                    <label class="fw-medium">{{ activity.maxInscriptions }}</label>
                </div>


                <div class="m-2 p-2">
                    <label class="me-3">Durée :</label>
                    <label class="fw-medium">{{ activity.duration }} minutes</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Description et infos :</label>
                    <label class="fw-medium">{{ activity.description }}</label>
                </div>
            </div>

            <div class="row row-cols">

                <div class="m-2 p-2">
                    <label class="me-3">Lieu :</label>
                    <label class="fw-medium">{{ activity.place.placeName }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Rue :</label>
                    <label class="fw-medium">{{ activity.place.placeStreet }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Ville :</label>
                    <label class="fw-medium">{{ activity.place.city.cityName }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Code postal :</label>
                    <label class="fw-medium">{{ activity.place.city.cityName }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Ville :</label>
                    <label class="fw-medium">{{ activity.place.city.zipcode }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Latitude :</label>
                    <label class="fw-medium">{{ activity.place.latitude }}</label>
                </div>

                <div class="m-2 p-2">
                    <label class="me-3">Longitude :</label>
                    <label class="fw-medium">{{ activity.place.longitude }}</label>
                </div>

            </div>

        </div>
    </div>

        {# Partie tableau des participants à l'activité #}

    <div>
        <div>
            <h2>Liste des participants inscrits :</h2>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>


                {% for participant in activity.participants %}

                    <tr>
                        <td>{{ participant.user.username }}</td>

                        <td>
                            {% if participant.id != app.user.participant.id %}

                                <a href="{{ path('app_participant_show',{'id': participant.id}) }}">{{ participant.firstname }}  {{ participant.firstname|upper }}</a>

                             {% else %}

                                <a href="{{ path('app_participant_edit',{'id': app.user.participant.id}) }}">{{ participant.firstname }}  {{ participant.firstname|upper }}</a>

                             {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
                </tbody>
            </table>
        </div>
    </div>




{#    <a href="{{ path('app_activity_index') }}">back to list</a>#}

{#    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>#}

{#    {{ include('activity/_delete_form.html.twig') }}#}
{% endblock %}
