{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la sortie</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Date de la sortie</th>
                <td>{{ activity.startDate ? activity.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Clôture</th>
                <td>{{ activity.endDate ? activity.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Inscrits/Places</th>
                <td>{{ activity.maxInscriptions }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ activity.activityStatus }}</td>
            </tr>
            <tr>
                <th>PictureUrl</th>
                <td>{{ activity.pictureUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activity_index') }}">back to list</a>

    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
