{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscription.id }}</td>
            </tr>
            <tr>
                <th>InscriptionDate</th>
                <td>{{ inscription.inscriptionDate ? inscription.inscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Activities_activity_no</th>
                <td>{{ inscription.activitiesActivityNo }}</td>
            </tr>
            <tr>
                <th>Participants_participant_no</th>
                <td>{{ inscription.participantsParticipantNo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_inscription_index') }}">back to list</a>

    <a href="{{ path('app_inscription_edit', {'id': inscription.id}) }}">edit</a>

    {{ include('inscription/_delete_form.html.twig') }}
{% endblock %}
